:root {
  --heading-font-family: "STIX Two Text", serif;
  --default-font-family: "Poppins", sans-serif;
   --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
}
h1 {
  font-size: 80px;
}
h3 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 150px;
}
.hero {
  text-align: center;
  background-color: #F9F7FE;
  padding: 160px 20px;
  
}
.hero p {
    font-family: var(--default-font-family);
    font-size: 24px;
}
.btn-branding {
background: #6C63FF;
border-radius: 4px;
color: #fff;
padding: 18px 30px;
margin-bottom: 100px;
}
.primary-link {
  border-radius: 4px;
  padding: 18px 30px;
  text-decoration: none;
  text-transform: capitalize;
  border: 1px solid var(--primary-color);
  box-shadow: var(--box-shadow);
  background: white;
  color: var(--primary-color);
}
.app-description {
  line-height: 30px;
  font-family: var(--default-font-family);
  padding: 120px 60px;
  
}
h2 {
  font-size: 60px;
  font-weight: bolder;
}
@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 25px;
  }
  .hero {
    padding: 80px 20px;
  }

  .app-description {
    padding: 0;
    text-align: center;
  }
}
